@import '../../common/styles/variables';

.loader {
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        border-right-color: $dodger-blue-a;
        border-bottom-color: $dodger-blue-a;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotation 1.3s infinite linear;
    }

    &.small {
        width: 20px;
        height: 20px;
    }

    &.light {
        &::after {
            border-right-color: $white;
            border-bottom-color: $white;
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
