@import '../../common/styles/variables';

.header {
    height: $content-layout-height;
    min-width: $content-layout-width;
    background: $dark url('/images/background.jpg') no-repeat center center;
    background-size: 100% auto;
    position: relative;
    color: $font-color-light;

    .filter {
        width: 100%;
        height: 100%;
        background-color: transparentize($dark, 0.15);
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;

        .title:last-child {
            margin: 0;
        }

        .buttons {
            display: flex;
        }

        .button:not(:last-child) {
            margin-right: 25px;
        }
    }
}
