@import '../../common/styles/variables';

.content {
    width: 750px;
    min-height: 250px;
    color: $font-color-dark;

    .question {
        font-size: $font-size-m;
        margin: 0 0 25px;

        &.with-multiply-notice {
            margin-bottom: 5px;
        }
    }

    .multiply-notice {
        margin-bottom: 10px;
        color: $dove-gray;
        font-size: $font-size-s;
    }

    .answers {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .answer {
        min-width: 362px;
        max-width: 362px;
        background: $white;
        margin-bottom: 25px;
        position: relative;
        padding: 20px;
        border-radius: $rounding;
        border: 1px solid $alto;
        box-sizing: border-box;
        user-select: none;
        cursor: pointer;

        .title {
            font-weight: bold;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        .icon {
            display: none;
        }

        &.selected {
            border-color: $dodger-blue-a;

            .icon {
                display: block;
                position: absolute;
                right: 5px;
                top: 0;
            }
        }
    }

    .totals {
        text-align: center;
    }

    .form-wrapper {
        max-width: 499px;
        margin: 0 auto;
    }
}

.footer {
    text-align: right;
    user-select: none;

    .pagination {
        margin: 0 20px 0 0.35em;
        color: $dove-gray;
    }

    .button:not(:last-child) {
        margin-right: 20px;
    }
}
