@import '../../common/styles/variables';

.card {
    width: 499px;
    padding: 25px;
    border-radius: $rounding;
    box-shadow: $shadow;
    box-sizing: border-box;
    background-color: $white;
}

.title {
    margin: 0 0 25px;
    font-size: $font-size-l;
    line-height: $font-size-l;
    color: $black;
}
