@import '../../common/styles/variables';

.workflow {
    background-color: $alto;
    padding: 50px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card:nth-last-child(n + 3) {
            margin-bottom: 25px;
        }
    }
}
